.burger {
  width: 500px;
  height: 450px;
  margin: auto;
}

.bunTop {
  background: linear-gradient(#c9621d, #e68a4d);
  height: 20%;
  width: 80%;
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #9c4c16;
  margin: 1% auto;
}

.veggies {
  height: 6%;
  width: 85%;
  background: linear-gradient(#1f7f1a, #8ecd4c);
  margin: 1% auto;
  border-radius: 25px;
}

.meat {
  height: 3.5%;
  width: 80%;
  background: linear-gradient(#ba3712, #c75e38);
  margin: 1% auto;
}

.bunBottom {
  height: 12%;
  width: 80%;
  background: linear-gradient(#e68a4d, #c9621d);
  margin: 1% auto;
  box-shadow: inset -15px 0 #9c4c16;
  border-radius: 0 0 25px 25px;
}
